.foo{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes{
    text-align: center;
    color: #fff;
}

.footer{
    position : absolute;
	width : 100vw;
    background-color:#100f0fce;
}