.grid{
    color: #fff;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-areas:                             "titulo titulo imagen imagen"                            "contenido contenido aside aside"                             ;
    height:auto;


    
}
.titulo{
    height:100vh;
    grid-area:titulo;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #100f0fce;
}

.titulo p{
    font-size:50px;
}
.titulo h1{
    color: #4848d6;
    font-size:55px;
}
.image{
    grid-area:imagen;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #100f0fce;
}
.image img{
    background-color: red;
    border-radius: 100%;
    height:350px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.header{
    grid-area: header;
}
.contenido{
    grid-area: contenido;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height:80vh;
}
.contenido p{
    padding: 30px;
}
.aside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "title title title title"; 
    /*esto es para definir los tamaños*/
    grid-auto-rows:100px;
    grid-area:aside;
    padding: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.aside h1{
    height:-20em;
    grid-area:title;
}
.aside img{
    height:95px;
}

@media screen and (max-width:1000px){
    .grid{
        display: grid;
        grid-template-columns:1fr;
        grid-template-areas: "imagen" 
                            "titulo"
                            "contenido"
                            "aside";
    }

    .contenido{
        grid-area: contenido;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height:50vh;
        width: auto;
    }

    .image{
        height:40vh;
        padding-top: 100px;
    }
    .image img{
        margin-top:10em;
        height:300px;
    }
    .titulo{
        display:flex;
        height:50vh;
    }
    .titulo p{
        font-size:30px;
    }
    .titulo h1{
        color: #4848d6;
        font-size:35px;
        margin:-30px;
    }

    .aside{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "title title title title"; 
        grid-auto-rows:5em;
        grid-area:aside;
        text-align: center;
        align-items: center;
        justify-content: center;
        height:80vh;
    }
    .aside h1{
        grid-area:title;
    }
    .aside img{
        height:50px;
    }
}