.navbar{
    position:fixed relative;
    width:115vw;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas: "uno dos";
    background: white;
}
.link{
    text-decoration:none;
    color:black;
}
.uno{
    grid-area: uno;
   
}
.dos{
    grid-area: dos;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dos span{
    font-size:20px;
    margin:0 15px
}
.dos span:hover{
    font-size: 21px;
    margin:0 15px
}

@media screen and (max-width:768px){
    .navbar{
        display: grid;
        grid-template-columns:1fr;
        grid-template-areas: "uno"
                            "dos"
    }
    .uno{
        grid-area: uno;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}