.navbar{
    position:fixed relative;
    width:100vw;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas: "uno dos";
    background: #d1c303;
}
.link{
    text-decoration:none;
    color:black;
}

.uno{
    grid-area: uno;
    margin-left:30px;
}
.dos{
    grid-area: dos;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dos span{
    font-size:20px;
    margin:0 15px
}
.dos span:hover{
    font-size: 21px;
    margin:0 15px
}
.logo{
    height: 80px;
    margin-left: 40px;
}

@media screen and (max-width:768px){
    .navbar{
        width:100vw;
        display: grid;
        grid-template-columns:1fr;
        grid-template-areas: "uno"
                            "dos"

    }
    .logo{
        margin:0;
    }
    .uno{
        grid-area: uno;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dos{
        grid-area: dos;
    }
}